
.about-content__text{
    @include about-text(14px,1.8 , 0.02em,var(--main-text-color) ,500px ,40px );

    @media (min-width:480px)  {
        max-width: 330px;
      }
      @media (min-width:768px)  {
        max-width: 418px;
      }
  } 
  

.about-wrap{
    display: flex;
    
}
.about-list{
   margin-right: 30px;
    display: none;
    @media screen and (min-width:768px) {
      display: flex;

      flex-direction: column;
    
    }

    @media  screen and (min-width:1200px) {
        display: flex;
        margin-right: 64px;
      
      }
}

.about-list__item{
    margin-top: 30px;
    @media (min-width:1200px) {
       
         margin-left: 30px;

         margin-top: unset;
         
      }

    &:last-child{
        margin-right: 0;
    }

   
    
    
}

.about-content__title{
  
    margin-bottom: 20px;
   
}

.about-after-text{
  
    
    margin-bottom: 20px;

}



 