.header{
    
    position: absolute;
    width: 100%;

    padding-top: 40px;
    padding-bottom: 40px;
     
  }
  
     
  
  
  .header .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  
  
  .header-navigation{
      display: flex;
      align-items: center;
  }
  
  .header-list{
      display: flex;
     display: none;
  }
  
  .header-list__item-list:not(:last-child){
      margin-right: 40px;
  }
  
  
  
  
  
  .header-right{
      display: flex;
      align-items: center;
      margin-left: auto;

      display: none;
      
  }
  
  .header-list__header-link{
      display: block;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.1em;
      padding-top: 48px;
      padding-bottom: 48px;
      color: #fff;
      transition: color 500ms linear;

      &:hover, .header-link:focus{
        color: var(--orange);
     }
     
  }
  
 
  
  .header-right__tel{
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.1em;
  margin-right: 40px;
  text-decoration: none;
  color: #fff ;
  
  
  padding-top: 48px;
  padding-bottom: 48px;


  
  }
  
  .header-logo{
      margin-right: 70px;
     
  }


  @media (max-width:480px){

    .logo{
        fill: #ffffff;
        
    }
  
   
    
  
  .menu-open{
      background-color: transparent;
      border: none;
      margin-right: 39px;
      
  }
  
  
  .mob-menu{
      width: 337px;
      height: 100vh;
      background-color: #ffff;
      position: fixed;
      top: 0;
      right: 0;
  
      padding-top: 48px;
      padding-left: 40px;
  
     padding-right: 31px;
  }
  
  .menu-close{
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: none;
     
     display: block;
  
     margin-left:  auto;
  }
  
  .icon-close{
      fill: #303030;
      position: absolute;
      transform: translateY(-50%);
      right: 41px;
      
  }
  
  .mob-menu-list{
      margin-top: 40px;
  }
  
  .mob-menu-list__item:not(:last-child){
      margin-bottom: 24px;
  }
  
  .mob-menu__header-link{
      font-weight: 600;
      font-size: 18px;
      line-height: calc(25 / 18);
     
  
      text-align: center;
      letter-spacing: 0.1em;
  
      color: #303030;
  
      transition: color 250ms linear;
  
      &:hover{
          color: var(--orange);
      }
  }
  
  
  .tel{
      display: block;
      padding-top: 64px;
      margin-bottom: 24px;
  
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
  
  
     letter-spacing: 0.1em;
     text-transform: uppercase;
  
     color: #303030;
     
  }
  
  .hero-mob-menu{
      margin-left: 140px;
      margin-top: 64px;
  
  }
  
  .hero-mob-menu__item:not(:last-child){
      margin-bottom: 24px;
  
      position: relative;
  
      &::after{
          content: '';
          height: 65px;
          width: 1px;
          display: block;
          background-color: #303030;
  
          transform: rotate(90deg);
          display: block;
          position: absolute;
          left: -61px;
          top: -19px;
      }
  
  }
  
  
  .is-hidden{
      opacity: 0;
      visibility: hidden;
  
     pointer-events: none;
  }
  
  

  }
 