.online-massage{
    display: block;
    width: 100%;
    border: none;
    background: transparent;

    border-bottom: solid 1px  rgba(157, 164, 189, 0.4);

    margin-right: 40px;

    padding-bottom: 60px;
    
     

    color: var(--white);
  
    resize: none;

    margin-bottom: 44px;


    outline: none;

    transition: 250ms linear;


    &::placeholder{
        font-size: 11px;
        line-height: 15px;
        font-weight: 600;
        
        letter-spacing: 0.1em;
        text-transform: uppercase;
        
        color: rgba(157, 164, 189, 0.4);
        
        }
        
    &:hover,
    &:focus{
    border-bottom:  solid 1px #ffff;
   
}



}







