
.about-content__btn{

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    transition: background-color 250ms linear;
    color: black;
   
  }
   