.btn-footer{
    width: 160px;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--white);
    border: 1px solid  #FF6C00;
    border-radius: 25px;
    background-color: transparent;
    transition: background-color 250ms linear;
    
    background: #191C26;


    &:hover,
    &:focus{
        background-color: var(--orange);
    }
    }
    
    
    
    
    