:root{
    --black:#303030;
    --white:#ffffff;
    --prices-title:#ffffff;
    --pale: #9DA4BD;
    --gray: #555555;
    --orange:#FF6C00;
    --third-second-color:#303030;
    --about-text-color:#555555;
    --main-text-color:#555555;
    --prices-text: #9DA4BD;
    --color-testimonials-text:#303030;
    --color-btn-prices-text:#ffffff;
    --color-atmosphere-text:#303030;
    --colo-our-masters-text:#303030;
    --color-name-master:#303030;
    --color-position-barber:#FF6C00;
    --color-text-gallery:#303030;
    --color-online-appointment:#ffffff;
    --color-contacts:#ffffff;
    --color-address: #9DA4BD;
    --color-working-hours:#ffffff;
    --color--opening-hours:#ffffff;
    --color-copy:#9DA4BD;
    --copy-social-footer:#303030;
    

} 